exportPattern("^[[:alpha:]]+")
import(minpack.lm)
import(numDeriv)
importFrom("graphics", "curve", "par", "plot")
importFrom("stats", "optim", "qnorm")
import(deSolve)
import(reshape2)
import(forecast)
import(ggplot2)
S3method(predict, Dimora)
S3method(plot, Dimora)
S3method(summary, Dimora)
